/.metadata/
# Maven specific files and directories
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/
mvnw
mvnw.cmd

# IDE-specific files and directories
.idea/
*.iml

# Eclipse-specific files
.settings/
.classpath
.project
factorypath

# NetBeans-specific files
nb-configuration.xml

# Visual Studio Code specific files
.vscode/

# Logs
*.log

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Miscellaneous
*.swp
*~

# macOS specific files
.DS_Store

# Thumbnails created by macOS
._*
